@using Markdig;
@using SPS_Code.Helpers;
@model SPS_Code.Controllers.ResponseTask

<div>
    <h1>@Model.Name</h1>

    @Html.Raw(Markdown.ToHtml(Model.Description))
    @if (ViewContext.HttpContext.Session.GetString(Helper.UserCookie) != null) {
        @if (Model.ActiveTask != null)
        {
            <a href="/task/downloadInput/@Model.Id/">Stáhnout vstup</a>
            <p>Odevzdat do: @Model.ActiveTask.TimeUntil</p>

            <form action="/task/validateInput/@Model.Id" method="post" enctype="multipart/form-data">
                <input type="file" name="UserFile">
                <input type="submit" />
            </form>
        }
        else
        {
            <div id="generate">
                <a href="/task/generate/@Model.Id">  <img src="/img/generate.png"> Vygenerovat vstup</a>
            </div>
        }
    }

    <h3>Příklady</h3>
    <h4>Vstupy </h4>
    <div id="inputs" class="pre">@Model.Inputs</div>
    <div class="copyButton" title="Kopírovat" onclick="copyData(inputs)">Kopírovat</div>

    <h4 style="padding-top: 10px;">Výstupy</h4>
    <div id="outputs" class="pre">@Model.Outputs</div>
    <div class="copyButton" title="Kopírovat" onclick="copyData(outputs)">Kopírovat</div>
    <div id="afterCopy">
        Text byl zkopírován
    </div>
</div>

<script type="text/javascript">
    function copyData(id) {
        navigator.clipboard.writeText(id.innerText);
        let afterCopy = document.getElementById("afterCopy")
        afterCopy.style.display = "block";
        setTimeout(() =>{
            afterCopy.style.display = "none";
        },1500)
    }
</script>

@if(Model.UserTaskResult == null) return;


<div class="info">
    <h2>Informace</h2>
    <p>Počet pokusů:  @Model.UserTaskResult.AttemptsCount</p>
    <p>Maximální počet bodů:  @Model.UserTaskResult.MaxPointsObtained</p>
    <p>Poslední pokus:  @Model.UserTaskResult.LastAttemptTime</p>
</div>



